html,body {
	margin:0;
	padding:0;
    font-family: 'Roboto', sans-serif;
    font-size:1.5em;
    background-color:#56A765;
}

#projets{
    position:absolute;
    color:white;
    font-size:6vw;
    text-align:center;
    width:35vw;
    border:solid 0.1em white;
    left:50%;
    margin-left:-17.5vw;
    top:3%;
}

.couleurs{
    position:absolute;
    color:white;
    font-size:3vw;
    width:60vw;
    top:30%;
    left:50%;
    margin-left:-30vw;
    text-align:center;
}

#conteneur{
    width:100%;
    height:100%;
}


#affiches{
    position:absolute;
    width:15vw;
    height:15vw;
    background-color:#9AA1E7;
    top:50%;
    left:13.7vw;
    border:solid 1.3vw white;
    transition:all 1s ease-in-out;
}

#photo{
    position:absolute;
    width:15vw;
    height:15vw;
    background-color:#74ADA8;
    top:50%;
    left:42.4vw;
    border:solid 1.3vw white;
    transition:all 1s ease-in-out;
}

#logos{
    position:absolute;
    width:15vw;
    height:15vw;
    background-color: #A1E79A;
    top:50%;
    margin-left:71.1vw;
    border:solid 1.3vw white;
    transition:all 1s ease-in-out;
}



#affiches:hover{
    transform:rotate(180deg);
    width:13vw;
    height:13vw;
    top:52%;
}

#photo:hover{
    transform:rotate(180deg);
    width:13vw;
    height:13vw;
    top:52%;
}

#logos:hover{
    transform:rotate(180deg);
    width:13vw;
    height:13vw;
    top:52%;
}



#home{
position:absolute;
text-align:center;
color:white;
font-size:5vw;
top:5vw;
left:5vw;
transition:all 0.5s ease-in-out;
}

#home2{
    position:absolute;
    text-align:center;
    color:white;
    font-size:5vw;
    top:5vw;
    right:5vw; 
    transition:all 0.5s ease-in-out;
}

#home2:hover{
    color:rgb(167, 101, 86);
    font-size:6vw;
}

#home:hover{
    color:rgb(167, 101, 86);
    font-size:6vw;
}


@media screen and (max-width:767px){
    #logo:hover, #affiches:hover, #photo:hover{
        transform:unset;
    }
    
    #logo #affiches #photo {
        transition:unset;
    }
    
    
    #projets{
        width:40%;
        left:28.5%;
        margin:0;
        height:7vh;
        font-size:8vw;
        padding-top:2.1vh;
    }



#home{
    font-size:5vw;
    top:6%;
}

#home2{
    font-size:5vw;
    top:6%;
}

.couleurs{
    font-size:5vw;
    top:17%;
    width:60vw;
    left:49vw;
    text-align:center;
}

#affiches{
    top:25%;
    left:30vw;
    width:35vw;
    height:35vw;
    
}
#photo{
    top:50%;
    left:30vw;
    width:35vw;
    height:35vw;
}

#logos{
    top:75%;
    left:30vw;
    width:35vw;
    height:35vw;
    margin:0;
}



}